<nav class="navbar">
    <div class="navbar-brand">
        
    </div>
    <div id="navbarMenu" class="navbar-menu">
       
        <div class="navbar-end"> 
            <a href="/" class="navbar-item">Hjem</a>
            <a href="/FAQ" class="navbar-item">FAQ</a>
            <a href="/map" class="navbar-item">Kart</a>
            <a href="/database" class="navbar-item">Database</a>
            <a href="/auth/login" class="navbar-item">Logg inn</a>
            <a href="/auth/register" class="navbar-item">Registrer</a>
            <a href="/profile" class="navbar-item">Profil</a>
        </div>
    </div> 
</nav>