<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>
<%- include("./partials/navbar.ejs") %>
<body>
    <h1>FAQ</h1>
    <div class="accordion">
        <details class="accordion-section">
            <summary class="accordion-button">Q: Hva er nettsiden for?</summary>
            <p class="accordion-content">A: Denne nettsiden er laget for å registrere og holde oversikt over reinsdyr og flokker i Lapland.</p>
        </details>
    
        <details class="accordion-section">
            <summary class="accordion-button">Q: Hvordan registrerer jeg et reinsdyr?</summary>
            <p class="accordion-content">A: For å registrere et reinsdyr må du først logge deg inn eller registrere deg</p>
        </details>
    
        <details class="accordion-section">
            <summary class="accordion-button">Q: What information do I need to register a reindeer?</summary>
            <p class="accordion-content">A: You will need to provide the reindeer's name, age, and any other relevant details as requested in the form.</p>
        </details>
    
        <details class="accordion-section">
            <summary class="accordion-button">Q: Can I edit my reindeer's details after registration?</summary>
            <p class="accordion-content">A: Yes, you can edit your reindeer's details by logging into your account and accessing the edit profile section.</p>
        </details>
    
        <details class="accordion-section">
            <summary class="accordion-button">Q: How do I contact support if I have questions or issues?</summary>
            <p class="accordion-content">A: You can contact our support team via email at <a href="mailto:support@example.com">support@example.com</a>.</p>
        </details>
    </div>
</body>
</html>