<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>
<body>
    <%- include("./partials/navbar.ejs") %>
    <h1>FAQ</h1>
    <div class="accordion">
        <details class="accordion-section">
            <summary class="accordion-button">Q: Hva er nettsiden for?</summary>
            <p class="accordion-content">A: Denne nettsiden er laget for å registrere og holde oversikt over reinsdyr og flokker i Lapland.</p>
        </details>
    
        <details class="accordion-section">
            <summary class="accordion-button">Q: Hvordan registrerer jeg et reinsdyr?</summary>
            <p class="accordion-content">A: For å registrere et reinsdyr må du først logge deg inn eller registrere deg, og deretter lage en ny flokk eller velge en eksisterende flokk. Deretter kan du legge til et reinsdyr ved å trykke på "Tilføy reinsdyr" knappen på flokksiden.</p>
        </details>
    
        <details class="accordion-section">
            <summary class="accordion-button">Q: Hva slags informasjon trenger jeg for å registrere et reinsdyr?</summary>
            <p class="accordion-content">A: Du trenger bare å ha navnet og fødselsdatoen, samt hvilken flokk det tilhører.</p>
        </details>
    
        <details class="accordion-section">
            <summary class="accordion-button">Q: Kan jeg endre detaljene til mitt regnsdyr etter at jeg registrerer det?</summary>
            <p class="accordion-content">A: For nå kan du ikke endre informasjonen, men det er veldig enkelt å trykke på "x" knappen i profil siden, og skrive inn informasjonen til reinsdyret på nytt.</p>
        </details>

        <details class="accordion-section">
            <summary class="accordion-button">Q: Hvordan flytter jeg reinsdyr fra en flokk til en annen?</summary>
            <p class="accordion-content">A: Du må gå til flokken reinsdyret befinner seg i, og trykke på "Flytt reinsdyr" knappen. Da velger du riktig reinsdyr, og målflokken reinsdyret skal flyttes til.</a>.</p>
        </details>
    
        <details class="accordion-section">
            <summary class="accordion-button">Q: Hvordan kontakter jeg kundestøtte hvis jeg har spørsmål eller problemer?</summary>
            <p class="accordion-content">A: Du kan kontakte meg på <a href="mailto:lukasz.gamvik@gmail.com">lukasz.gamvik@gmail.com</a>.</p>
        </details>
    </div>
</body>
</html>