<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>
<body>
    <%- include("./partials/navbar.ejs") %>
    <h1>Kartet over de samiske språkområdene</h1>
    <img src="img/map.jpeg" alt="Kartet over samiske språk">
</body>
</html>