<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>
<body>
    <h1>Login</h1>
    <form action="/auth/login" method="post">
        <label for="navn">Navn:</label>
        <input type="text" name="navn" id="navn">
        <label for="passord">Passord:</label>
        <input type="password" name="passord" id="passord">
        <input type="submit" value="Submit">
    </form>
</body>
</html>