.accordion {
    max-width: 600px;
    margin: auto;
}

.accordion-section {
    margin-bottom: 10px;
}

.accordion-button {
    width: 100%;
    padding: 15px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accordion-button:hover {
    background-color: #ccc;
}

.accordion-content {
    padding: 0 15px;
    display: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

.accordion-content.show {
    display: block;
}
